/**

  This is for the snow.
  **/
  

 
  
  .snow,
  .snow:before,
  .snow:after {
    position: absolute;
    top: -600px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(15px 15px at 262px 346px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0));
    background-size: 600px 600px;
    animation: snow 3s linear infinite;
    content: "";
  }
  
  .snow:after {
    margin-left: -200px;
    opacity: 0.4;
    animation-duration: 6s;
    animation-direction: reverse;
    filter: blur(3px);
  }
  
  .snow:before {
    animation-duration: 9s;
    animation-direction: reverse;
    margin-left: -300px;
    opacity: 0.65;
    filter: blur(1.5px);
  }
  
  @keyframes snow {
    to {
      transform: translateY(600px);
    }
  }
  